<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Access Denied</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.0-alpha1-dist/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/css-home.css}">
</head>

<body>
<div th:replace="~{layout :: navbar}"></div>


<h2 th:if="${message != null}" th:utext="${message}" style="color: red;text-align: center; margin-top: 30px"></h2>

<!--<div th:if="${userInfo != null}" th:utext="${userInfo}"></div>-->

</body>

</html>