<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}">
</head>
<body>
<div th:replace="~{layout :: navbar}"></div>

<h2>Contract</h2>
<h3 class="message" th:text="${mess}"></h3>
<div class="table-list">
    <div class="table-responsive">
        <table class="table table-striped w-100" id="tableContract">
            <thead style="vertical-align: top; text-align: center">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Facility Name</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Start day</th>
                <th scope="col">End day</th>
                <th scope="col">Deposit</th>
                <!--                <th scope="col">Total cost</th>-->
                <th scope="col">Attach facility</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract : ${contractPage}">
                <td th:text="${contract.id}"></td>
                <td th:text="${contract.getFacility().getName()}"></td>
                <td th:text="${contract.getCustomer().getName()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <!--                    <td th:text="${contract.getTotalCost()}"></td>-->
                <td>
                    <button type="button" th:attr="onclick=|showAttachFacility(${contract.id})|"
                            class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#newAttachFacilityModal">+
                    </button>
                    <!--                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
                    <!--                                data-bs-target="#attachFacilityList${contractVirtual.id}">Attach facility list-->
                    <!--                        </button>-->
                </td>
            </tr>

            <!--                modal attach  Facility List-->

            <!--                <div class="modal fade" id="attachFacilityList${contractVirtual.id}" tabindex="-1"-->
            <!--                     aria-labelledby="exampleModalLabel" aria-hidden="true">-->
            <!--                    <div class="modal-dialog">-->
            <!--                        <div class="modal-content">-->
            <!--                            <div class="modal-header">-->
            <!--                                <h5 class="modal-title" id="exampleModalLabel">Attach Facility List-->
            <!--                                    Id ${contractVirtual.id}</h5>-->
            <!--                            </div>-->

            <!--                            <div class="modal-body p-3">-->
            <!--                                <div class="row">-->
            <!--                                    <div class="col-md-2 border-end border-bottom text-center text-bg-primary">Id</div>-->
            <!--                                    <div class="col-md-4 border-end border-bottom text-center text-bg-primary">Name-->
            <!--                                    </div>-->
            <!--                                    <div class="col-md-4 border-end border-bottom text-center text-bg-primary">Cost-->
            <!--                                    </div>-->
            <!--                                    <div class="col-md-2 border-end border-bottom text-center text-bg-primary">-->
            <!--                                        Quantity-->
            <!--                                    </div>-->
            <!--                                </div>-->

            <!--                                           items="${contractVirtual.contractDetailVirtualList}">-->
            <!--                                    <div class="row">-->
            <!--                                        <div class="col-md-2 border-end border-bottom text-center">${contractDetailVirtual.contractId}</div>-->
            <!--                                        <div class="col-md-4 border-end border-bottom text-center">${contractDetailVirtual.attachFacility.name}</div>-->
            <!--                                        <div class="col-md-4 border-end border-bottom text-center">${contractDetailVirtual.attachFacility.cost}</div>-->
            <!--                                        <div class="col-md-2 border-bottom text-center">${contractDetailVirtual.quantity}</div>-->
            <!--                                    </div>-->


            <!--                                <div class="modal-footer">-->
            <!--                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok-->
            <!--                                    </button>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->

            </tbody>
        </table>
    </div>
</div>

<div class="justify-content-center d-flex">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addModal">Add New Contract
    </button>
</div>

<!--modal add contract-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body m-0 p-0">

                <form class="form-horizontal" action="/contract/add" th:object="${contractDto}" method="post">

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label" for="startDate">Start date:</label></div>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="startDate" th:field="*{startDate}">
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label" for="endDate">End date:</label></div>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="endDate" th:field="*{endDate}">
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label" for="deposit">Deposit:</label></div>
                        <div class="col-sm-8">
                            <input required type="number" class="form-control"
                                   id="deposit" th:field="*{deposit}">
                            <!--                            <span id="errorDeposit" class="ms-5"></span>-->
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label" for="totalCost">Total cost:</label></div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="totalCost" readonly>
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label">Customers rent service:</label></div>
                        <div class="col-sm-8">
                            <select class="form-control" th:field="*{customer.id}">
                                <option value="0">Chọn khách hàng</option>
                                <option th:each="cus : ${customerList}" th:value="${cus.id}"
                                        th:text="${cus.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label">Service:</label></div>
                        <div class="col-sm-8">
                            <select class="form-control" th:field="*{facility.id}">
                                <option value="0">Chọn dịch vụ</option>
                                <option th:each="fa : ${facilityList}" th:value="${fa.id}"
                                        th:text="${fa.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="row form-group align-items-center m-2">
                        <div class=" col-sm-4">
                            <label class="control-label" for="btnShowListAttachFacility">Attach facility:</label></div>
                        <div class="col-sm-8">
                            <!--                            th:field="*{facility.facilityType.id}"-->
                            <button class="btn btn-primary mx-4" type="button" id="btnShowListAttachFacility"
                                    onclick="showListAttachFacility()">+
                            </button>
                            <div style="border: none; display:none" id="listAttachFacility" class="form-control">
                                <th:block th:field="*{facility.contractSet}"
                                          th:each="attachFacility : ${attachFacilityList}">
                                    <div class="row">
                                        <div class="col-md-7 align-items-center">
                                            <input class="form-check-input" type="checkbox" th:value="${attachFacility.id}"
                                                   th:text="${attachFacility.name}">
                                        </div>
                                        <div class="col-md-2 align-items-center">
                                            <p>SL:</p>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="number" style="width: 55px" class="form-control">
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancel
                            </button>
                            <button type="submit" id="buttonCreate" disabled class="btn btn-primary m-1">Create contract
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--modal add contract detail-->
<!--<div class="modal fade" id="newAttachFacilityModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--     aria-hidden="true">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <form class="form-horizontal" action="/contract?action=addAF" method="post">-->
<!--                <div class="modal-header d-flex justify-content-center">-->
<!--                    <span>Add Attach Facility Into Contract Id </span>-->
<!--                    <input class="bg-primary mx-2 text-center text-light" id="contractId" name="contractId" readonly-->
<!--                           style="width: 30px">-->
<!--                </div>-->

<!--                <div class="modal-body m-0 p-0">-->
<!--                    <div class="row form-group align-items-center m-2">-->
<!--                        <div class=" col-sm-4">-->
<!--                            <label class="control-label">Attach Facility:</label></div>-->
<!--                        <div class="col-sm-8">-->
<!--                            <select class="form-control" name="idAttachFacility">-->
<!--                                <option value="0">Chọn dịch vụ đi kèm</option>-->

<!--&lt;!&ndash;                                    <option value="${attachFacility.id}">${attachFacility.name}</option>&ndash;&gt;-->

<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="row form-group align-items-center m-2">-->
<!--                        <div class=" col-sm-4">-->
<!--                            <label class="control-label">Quantity:</label></div>-->
<!--                        <div class="col-sm-8">-->
<!--                            <input required pattern="^[1-9]\d*$" title="Số lượng phải là số nguyên dương" type="number"-->
<!--                                   class="form-control" id="quantity" name="quantity">-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="form-group">-->
<!--                        <div class="d-flex justify-content-center">-->
<!--                            <button type="button" class="btn btn-secondary m-1" data-bs-dismiss="modal">Cancel-->
<!--                            </button>-->
<!--                            <button type="submit" class="btn btn-primary m-1">Add-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.js}"></script>
<script>
    function showAttachFacility(id) {
        document.getElementById("contractId").value = id;
    }

    function showListAttachFacility() {
        document.getElementById("btnShowListAttachFacility").style.display = 'none';
        document.getElementById("listAttachFacility").style.display = 'block';

    }
</script>
</body>
</html>