<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body style="background-color: #e5e9f5">
<h1 style=" color: #1b3d7a; text-align: center ">
    Category
</h1>
<div th:if="${mess}" style="color: red; font-size: 30px">
    <h2 th:text="${mess}" style="text-align: center"></h2>
</div>
<table class="table table-dark table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name Category</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category:${categoryList}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <button th:attr="onclick=|editCategory('${category.id}','${category.name}')|"
                    type="button"
                    class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editModal">
                Edit
            </button>
        </td>

        <td>
            <button th:attr="onclick=|deleteCategory('${category.id}','${category.name}')|" type="button"
                    class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <button type="button"
            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
        Add new Blog
    </button>
</div>

<!-- Modal create -->
<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/category/save" method="post" th:object="${cate}">
                <div class="modal-header">
                        <h1 class="modal-title fs-5">Create category</h1>
                </div>
                <div class="modal-body">
                    <input th:field="*{id}">
                    <input th:field="*{name}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/category/update" method="post" th:object="${cate}">
                <div class="modal-header">
                        <h1 class="modal-title fs-5">Edit category</h1>
                </div>
                <div class="modal-body">
                    <input id="editId" th:field="*{id}" hidden>
                    <input id="editName" th:field="*{name}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal delete-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete category</h1>
            </div>
            <form action="/category/delete" method="post">
                <div class="modal-body">
                    Bạn muốn xóa blog <input id="deleteId" hidden name="deleteId">
                    <input id="deleteName" style="border: none">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-primary">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    function editCategory(id, name) {
        document.getElementById("editId").value = id;
        document.getElementById("editName").value = name;
    }
    function deleteCategory(id, name) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteName").value = name;
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>