<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<div id="formAdd" class="container">
    <form th:action="@{/product/update}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="row form-group">
            <div class="col-md-4">
                Price of product
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" th:field="*{name}">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                Describe
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" th:field="*{price}">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                Producer
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" th:field="*{describes}">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-4">
                Name product
            </div>
            <div class="col-md-8">
                <input type="text" class="form-control" th:field="*{producer}">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 40%">Update</button>
    </form>
</div>
</body>
</html>